# Local environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.sqlite3

# Virtualenv
.venv/
env/
venv/

# Media and static uploads (generated)
/media/

# IDE/editor
.vscode/
.idea/

# PlantUML jar (optional)
plantuml.jar
